<div class="continer p-5">
  <div class="row ml-3 mb-3">
      <h2 style="background-color: #dcdcdc;">フォロー</h2>
  </div>
  <% if @users.exists? %>
    <%= render "user/users/index", users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>