<div class="container p-5">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-10">
      <h1 style="text-align:center"><strong>About</strong></h1>
      <h4 style="text-align:center">Fishing
        自分が釣った魚を投稿しよう！！<br>
        他の人の投稿を閲覧しよう！！<br>
        コメント欄で語り合おう！！<br>
      </h4>

      <div class="text-center">
        <%= image_tag '28086626_s.jpg', size: '800x450' %>
      </div>
    </div>
  </div>
</div>