<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-10">
      <h1 style="text-align:center"><strong>About</strong></h1>
      <h4 style="text-align:center">Fishing</h4>

      </div>
    </div>
  </div>
</div>