<div class="continer">
  <div class="row">
    <div class="col">
      <h1>投稿一覧</h1>
        <p><%= render "user/tweets/list", tweets: @tweets, user: @user %></p>
      </div>
    </div>
  </div>
</div>